@import '../../main.scss';

#heroContainer {
    height: 100vh;
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}
.test1 {
    position: relative;
    background-color: white;
    top: 60%;
    text-align: center;
}
.shapes {
    height: 30%;
}