.cube1 {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    left: 10%;
    top: 20px;
}

.side-cube1 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.front-cube1 {
    transform: rotateY(0deg) translateZ(100px);
    background-color: #2cb67d;
}

.right-cube1 {
    transform: rotateY(90deg) translateZ(100px);
    background-color: #7f5af0;
}

.back-cube1 {
    transform: rotateY(180deg) translateZ(100px);
    background-color: #2cb67d;
}

.left-cube1 {
    transform: rotateY(-90deg) translateZ(100px);
    background-color: #7f5af0;
}

.top-cube1 {
    transform: rotateX(90deg) translateZ(100px);
    background-color: #2cb67d;
}

.bottom-cube1 {
    transform: rotateX(-90deg) translateZ(100px);
    background-color: #7f5af0;
}

@media screen and (max-width: 550px) {
    .side-cube1 {
        width: 50px;
        height: 50px;
    }
    .front-cube1 {
        transform: rotateY(0deg) translateZ(25px);
    }
    .right-cube1 {
        transform: rotateY(90deg) translateZ(25px);
    }
    .back-cube1 {
        transform: rotateY(180deg) translateZ(25px);
    }
    .left-cube1 {
        transform: rotateY(-90deg) translateZ(25px);
    }

    .top-cube1 {
        transform: rotateX(90deg) translateZ(25px);
    }
    .bottom-cube1 {
        transform: rotateX(-90deg) translateZ(25px);
    }
}