.about-section {
    position: relative;
    height: 100vh;
    width: auto; 
    background-color: #16161a;
    color: white;
    display: grid;
    grid-template-columns: 70% auto;
    font-size: 1.5em;
}
.aboutLeftCon {
    position: relative;
    margin: 5%;
    text-align: left;
    overflow-x: scroll;
}
.aboutLeftCon p {
    padding: 0px 30px 0px 30px;
}
.first-letter {
    font-size: 45px;
    line-height: 70px;
}

#aboutAvatar {  
    margin: 260px 0px 0px 100px;
    border-radius: 50%;
    width: auto;
}
#email {
    margin: 20px 0px 0px 100px;
}
// marginLeft: 180, marginTop: 20

@media screen and (max-width: 600px) {
    .about-section {
        display:block;
        height: auto;
        width: auto; 
        font-size: 1em; 
    }
    #aboutAvatar {  
        margin: 10px 0px 0px 20px;
        border-radius: 50%;
        width: auto;
    }
    #email {
        margin: 20px 0px 0px 80px;
    }
}