.cube2 {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    left: 40%;
    top: 80px;
}

.side-cube2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.6;
}

.front-cube2 {
    transform: rotateY(0deg) translateZ(100px);
    background-color: #ee4444;
}

.right-cube2 {
    transform: rotateY(90deg) translateZ(100px);
    background-color: #ffcc00;
}

.back-cube2 {
    transform: rotateY(180deg) translateZ(100px);
    background-color: #ff0055;
}

.left-cube2 {
    transform: rotateY(-90deg) translateZ(100px);
    background-color: #8855ff;
}

.top-cube2 {
    transform: rotateX(90deg) translateZ(100px);
    background-color: #0099ff;
}

.bottom-cube2 {
    transform: rotateX(-90deg) translateZ(100px);
    background-color: #22cc88;
}

@media screen and (max-width: 550px) {
    .side-cube2 {
        width: 50px;
        height: 50px;
    }
    .front-cube2 {
        transform: rotateY(0deg) translateZ(25px);
    }
    .right-cube2 {
        transform: rotateY(90deg) translateZ(25px);
    }
    .back-cube2 {
        transform: rotateY(180deg) translateZ(25px);
    }
    .left-cube2 {
        transform: rotateY(-90deg) translateZ(25px);
    }

    .top-cube2 {
        transform: rotateX(90deg) translateZ(25px);
    }
    .bottom-cube2 {
        transform: rotateX(-90deg) translateZ(25px);
    }
}