@import "~bootstrap/scss/bootstrap";
@import '../../main.scss';

@mixin transition($property: all, $duration: 1.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}
.navbar {
  background-color: $primary;
  position: fixed; 
  top: 0; 
  width: 100%; 
  
}
#button1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    &.learn-more {
      width: 11.5rem;
      height: auto;
      margin-bottom: 0px;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        display: block;
        margin: 0;
        width: 2rem;
        height: 2rem;
        background: $secondary;
        border-radius: 1.625rem;
        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 0.25rem;
            width: 1rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }
      .button-text {
        @include transition(all, .45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 1rem;
        right: 0;
        bottom: 1.5rem;
        padding: 0.75rem 0;
        margin: auto;
        color: $secondary;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
          background: white;
          transform: translate(1rem, 0);
          }
        }
      }
        .button-text {
        color: white;
        }
    }
}
.navBarLinks {
  position: relative;
  margin: auto;
  color: $secondary;
}


// Mobile 
.mobileNavBar {
  // display: none;
  position: fixed; 
}
main {
  display: flex;
  position: fixed;
}

aside {
  background-color: #c4a8ff;
  width: 18.75rem;
  height: 100vh;
}

.mobileContainer {
  margin: 4.5rem 1.4rem;
}

.btn-container {
  position: relative;
  top: 5px;
}

.mobileContainer a {
  color: #f9fafb;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 600;
  display: block;
  margin: 20px;
}

#mobileBtn {
  cursor: pointer;
  margin: 1.25rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #f9fafb;
  position:fixed;
  top: 10px;
  display: none;
}

@media screen and (max-width: 540px) {
  .navbar {
    display: none;
  }
  .mobileNavBar {
    display:block;
  }
  #mobileBtn {
    display: block;
  }
}