@import '../../main.scss';

.skillSection {
    height: 100vh;
    // background-image: linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%);
    overflow-x: hidden;
}
.skillDesktopContainer {
    position: relative;
    display: flex;
    top: 5%;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}
.parent {
    position: relative;
    width: 100%;
    height: auto;    
}
.backdropContainer {
    top: 105%;
    width: 30%;
    height: 90%;
    left: 35%;
    position: absolute;
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}
.frontEnd, .backEnd, .server, .tools {
    width: 100%;
    height: 225px;
    margin: 5px auto;
    color: black;
}
.frontEnd, .server {
    display: grid;
    grid-template-columns: 60% auto;
}
.backEnd, .tools {
    display: grid;
    grid-template-columns:40% auto;
}
.leftContainerDetails, .rightContainerDetails {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.leftSkills {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 50%;
    margin: auto;
}
.rightSkills {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 50%;
    margin: auto;
}

// ====== Mobile Responsive Animations ====== //

.skillMobileContainer {
    display: none;
    position: relative;
    top: 10%;
    height: 90%;
}

@media screen and (max-width:425px){
    .skillDesktopContainer {
        display: none;
    }
    .skillMobileContainer {
        display: grid;
    }
    .parent {
        height: 90vh;
    }
    .leftSkills, .rightSkills {
        width: 100%;
    }
    .frontEnd, .backEnd, .server, .tools {
        display: flex;
        height: 15%;
    }
}