@import "../../main.scss";

.skillContainer {
  height: 100vh;
  background-color: blue;

}
// .skillSection {
//   height: 100%;
//   overflow-x: hidden;
// }
.skillDesktopContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
  background: $background;
  // background: pink;
  height: 100vh;
  max-height: 100vh;
}
.parent {
  position: relative;
  width: 100%;
  height: auto;
}
#fullStack {
  position: relative;
  top: 5%;
}
.frontEnd,
.backEnd,
.server,
.tools {
  position: relative;
  width: auto;
  height: 120px;
  margin: 2% auto 2% auto;
  text-align: center;
  
}

.frontEnd,
.server {
  display: grid;
  grid-template-columns: 40% 40%;
}
.backEnd,
.tools {
  display: grid;
  grid-template-columns: 40% 40%;
}
.leftContainerDetails,
.rightContainerDetails {
  position: relative;
  color: white;
  background-color: $cardTag;
}
.leftSkills,
.rightSkills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cardBackground;
  width: auto;
  color: $headline;
  font-size: 30px;
}
.skillList {
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;
  overflow: hidden;
  font-size: 1.3vw;
}
.skillList p {
  position: relative;
  display: inline;
  margin: auto;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

// ====== Mobile Responsive Animations ====== //

.skillMobileContainer {
  display: none;
  position: relative;
  height: 100%;
  background: $background;
}
.mobile-frontEnd,
.mobile-backEnd,
.mobile-server,
.mobile-tools {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: $headline;
}
.left-Mobile-Skills,
.right-Mobile-Skills {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: $cardBackground;
}
.mobile-container-details {
  position: absolute;
  justify-content: center;
  display: block;
  width: 100%;
  background-color: $cardTag;
}
.mobile-Skill-List {
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
  width: 100%;
  word-spacing: 1em;
}
@media screen and (max-width: 1600px) {
  .frontEnd,
  .backEnd,
  .server,
  .tools {
    margin: 20px auto 20px auto;
  }
}
@media screen and (max-width: 800px) {
  .frontEnd,
  .backEnd,
  .server,
  .tools {
    margin: 20px auto 20px auto;
  }
  .skillList {
    font-size: 2vw;
  }
}
@media screen and (max-width: 425px) {
  .skillSection {
    height: 100vh;
  }
  .skillDesktopContainer {
    display: none;
  }
  .skillMobileContainer {
    display: grid;
  }
  .parent {
    height: 90vh;
  }
  .leftSkills,
  .rightSkills {
    width: 100%;
  }
  .frontEnd,
  .backEnd,
  .server,
  .tools {
    display: flex;
    height: 15%;
  }
}
