// Main Styles

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
section {
    scroll-snap-align:start;
}

$primary: #04009A;
$secondary: #77ACF1;
$tertiary: #C0FEFC;
$quaternary: #00D7FF;
$textColor: #fff;


$background: #16161a;
$headline: #fffe;
$button: #7f5af0;
$buttonText: #fffffe;


$cardBackground: #242629;
$cardHeader: #fffffe;
$cardDetails: #94a1b2;
$cardTag: #7f5af0;
