// Main Styles

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
section {
  scroll-snap-align: start;
}
body::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  // border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}


$primary: #04009a;
$secondary: #77acf1;
$tertiary: #c0fefc;
$quaternary: #00d7ff;
$textColor: #fff;

$background: #16161a;
$headline: #fffe;
$button: #7f5af0;
$buttonText: #fffffe;

$cardBackground: #242629;
$cardHeader: #fffffe;
$cardDetails: #94a1b2;
$cardTag: #7f5af0;
